@import url(reset.css);
@import url(header.css);
@import url(quemsou.css);
@import url(tratamentos.css);
@import url(minhaabordagem.css);
@import url(sessaocontatos.css);
/* Importação de Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-do-fundo: #FFFFFF;
    --cor-primaria: #F5DDB1;
    --cor-secundaria: #86B7D7;
    --cor-place-holder: #a7a5a5;
    --fonte-principal: "Poppins";
}
body{
    background-color: var(--cor-do-fundo);
    font-family: var(--fonte-principal);
}
