.background{
    width: 100%;
    height: 287px;
    background-image: url(../assets/mobile/Card-1-mobile.png);
    background-size: cover; /* Faz a imagem cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}